---
import Layout from '../layouts/Layout.astro';
import Cases from '../components/Cases.astro';
---
<Layout>

   <Cases></Cases>











 <!-- <Logo></Logo>
    <Navigation></Navigation> -->
    <!-- <Case
        img="https://picsum.photos/id/100/200/200"
        text="See the view at the beach"
        href="/projects/beach"
    ></Case>
    <Case
        img="https://picsum.photos/id/200/200/200"
        text="Let's go Momo?"
        href="/projects/momo"
    ></Case>
    <Case
        img="https://picsum.photos/id/300/200/200"
        text="Heeeeeeey"
        href="/projects/hey"
        buttonColor="bg-yellow-300"
    ></Case> -->

    <!-- <div class="p-4 border inline-block">
        <img src="https://picsum.photos/id/100/200/200" alt="" class="rounded">
        <p class="my-4 text-2xl">See the view at the beach</p>
        <a href="/projects/cats" class="bg-red-300 rounded py-2 px-4">See more</a>
    </div>

    <div class="p-4 border inline-block">
        <img src="https://picsum.photos/id/200/200/200" alt="" class="rounded">
        <p class="my-4 text-2xl">Let's go Momo?</p>
        <a href="/projects/cats" class="bg-red-300 rounded py-2 px-4">See more</a>
    </div>


    <div class="p-4 border inline-block">
        <img src="https://picsum.photos/id/300/200/200" alt="" class="rounded">
        <p class="my-4 text-2xl">Heeeeeeey</p>
        <a href="/projects/cats" class="bg-red-300 rounded py-2 px-4">See more</a>
    </div> -->

</Layout>
