---
import Logo from './Logo.astro'
import Navigation from './Navigation.astro'
---
<div class="p-4 py-16 grid grid-cols-3 bg-[url(https://baconmockup.com/1280/720/)]">
    <a href="/">
        <Logo />
    </a>
    <div class="col-span-2">
        <Navigation/>
    </div>
</div>
